<div id="main">
	<h1>Your Saved Documents</h1>
<% if @docs %>
	<ul>
	<% @docs.each do |doc| %>
		<li><%= link_to doc.title || "<untitled document>", edit_doc_path(doc) %></li>
	<% end %>
	</ul>
<% else %>
	<% if user_signed_in? %>
		<p>You do not have any saved documents. Would you like to create one?</p>
	<% else %>
		<p>Only <%= link_to "registered", new_user_registration_path %> users can
		see a list of documents they have created.</p>

		<p>You can still save documents without registering, but they will be
		publicly visible and you will need to make a note of their URLs.</p>
	<% end %>
<% end %>

	<%= button_to "New Document", docs_path, :method => "POST" %>

</div>
