<div id="toolbar">This will be the toolbar.</div>

<div id="editor-wrapper">
<textarea id="editor"># Title (heading level 1)

## Usage (heading level 2)

### Input and Preview (heading level 3)
On the left is the text entry area, and on the right is the formatted preview. The input is plain text, with a set of symbols used to add formatting. When you modify the input text, the preview updates in real-time. If you find the real-time option too slow, an option <del>is</del> will be available to add a short delay after you stop typing before the preview is updated.

### Basic Formatting
As you can already see, headings are denoted by the # character, with the top-level using a single # and subsequent levels using additional ones. Blank lines are used to separate paragraphs from each other and from other blocks of text such as lists or quotes.

To *emphasise* text, just surround it with `*asterisks*`, or to **strongly emphasise** it, use `**double asterisks**`. You will notice that to insert formatting codes exactly as they are, you can surround them with \`backticks\`, although the formatter is smart enough to know that a * by itself has no special significance.

### Lists
Lists are simply lines of text preceeded by a * or - character.

* This is an example of a bulleted list.
* It is separated from paragraph text with a blank line at the top and bottom.
* It can contain:
    * Sub-lists
    * With other items in them
    * Just indent the sub-list by 4 spaces

You can also do numbered lists, like this:

1. This is a numbered list
2. The items in the input text don't have to be in numerical order.
7. When formatted, the numbering will be sequential automatically.
3. So you can re-order the list with copy+paste without worrying about putting the right numbers with each item.</textarea>
</div>

<div id="preview-scroller">
    <div class="preview-page">
    </div>
    <%#<div class="page-splitter"></div>%>
</div>

<div id="statusbar">Base font size: 12pt, margins: 20mm, automatic zoom level:
    <span id="zoom-level">1</span>%</div>

<%= javascript_include_tag :defaults %>
