<div id="toolbar">
    <label for="chk-nonprinting">
        <input id="chk-nonprinting" type="checkbox" checked>
        Show paragraph marks.
    </label>

    <label for="chk-autozoom">
        <input id="chk-autozoom" type="checkbox" checked>
        Fit preview width.
    </label>

    <label for="chk-linebreaks">
        <input id="chk-linebreaks" type="checkbox">
        Simple line breaks.
    </label>

    <label for="txt-base-font">
        Paragraph font:
        <input id="txt-base-font" type="text" value="Palatino">
    </label>

    <label for="txt-base-font-size">
        <input id="txt-base-font-size" class="number" type="text" value="12">
        pt
    </label>

    <label for="txt-heading-font">
        Heading font:
        <input id="txt-heading-font" type="text" value="Lucida Grande">
    </label>
</div>
</div>

<div id="app-loading-message" class="loading-message">
    Application loading. You may begin typing while this happens.
</div>

<div id="editor">
    <textarea><%= @default_doc %></textarea>
</div>

<div id="preview-scroller">
    <div id="preview" class="show-nonprinting">
        <div class="paper">
            <div class="page"></div>
        </div>
    </div>
</div>

<div id="statusbar">Page width: 210mm, margins: 20mm, automatic zoom level:
    <span id="zoom-level">1</span>%</div>

<% if Rails.env.production? %>
    <%= javascript_include_tag "all.js" %>
<% else %>
    <%=  javascript_include_tag :libs %>
<% end %>

<script type="text/javascript">
    // Lazy loading of main application JS.
    var se = document.createElement("script");
    <% if Rails.env.production? %>
    se.src = "/javascripts/application-min.js";
    <% else %>
    se.src = "/javascripts/application.js";
    <% end %>
    document.getElementsByTagName("head")[0].appendChild(se);
</script>
