<div id="toolbar">This will be the toolbar.</div>

<textarea id="editor" rows="0" cols="0">#Sample Document

##Section 1

On the left is the text entry area, and on the right is the formatted preview.

The toolbar will have a button to switch between entry mode and preview mode, and I will probably add an option to have both views visible side by side.

* This is an example of a bulleted list.
* It is separated from paragraph text with a blank line at the top and bottom.
* It can contain:
    * Sub-lists
    * With other items in them

You can also do numbered lists, like this:

1. This is a numbered list
2. The items in the input text don't have to be in numerical order.
7. When formatted, the numbering will be sequential automatically.
3. So you can re-order the list with copy+paste without worrying about putting the right numbers with each item.

</textarea>

<div id="preview-scroller">
    <div id="preview"></div>
</div>

<div id="footer">This will be the status bar, showing things like word count
etc.</div>

<%= javascript_include_tag :defaults %>
