<div id="toolbar">This will be the toolbar.</div>

<div id="editor-scroller">
    <div id="editor">
        <textarea rows="0" cols="0"></textarea>
    </div>
</div>

<div id="footer">This will be the status bar, showing things like word count
etc.</div>

<div id="preview"></div>

<%= javascript_include_tag :defaults %>
