<div id="toolbar">
    <label for="chk-nonprinting">
        <input id="chk-nonprinting" type="checkbox" checked>
        Show paragraph marks.
    </label>

    <label for="chk-autozoom">
        <input id="chk-autozoom" type="checkbox" checked>
        Fit preview width.
    </label>

    <label for="chk-linebreaks">
        <input id="chk-linebreaks" type="checkbox" checked>
        Simple line breaks.
    </label>

    <label for="txt-base-font">
        Paragraph font:
        <input id="txt-base-font" type="text" value="Palatino">
    </label>

    <label for="txt-base-font-size">
        <input id="txt-base-font-size" class="number" type="text" value="12">
        pt
    </label>

    <label for="txt-heading-font">
        Heading font:
        <input id="txt-heading-font" type="text" value="Lucida Grande">
    </label>
</div>
</div>

<div id="app-loading-message" class="loading-message">
    Application loading. You may begin typing while this happens.
</div>

<div id="editor">
<textarea># Title (heading level 1)

## Usage (heading level 2)

### Input and Preview (heading level 3)
On the left is the text entry area, and on the right is the formatted preview. The input is plain text, with a set of symbols used to add formatting. When you modify the input text, the preview updates in real-time. If you find the real-time option too slow, an option <del>is</del> will be available to add a short delay after you stop typing before the preview is updated.

### Basic Formatting
As you can already see, headings are denoted by the # character, with the top-level using a single # and subsequent levels using additional ones.

Blank lines are used to separate paragraphs from each other and from other blocks of text such as lists or quotes. Within a paragraph, pressing `Enter` once inserts a
line break - these can be useful for addresses, lines of verse, and so on.

To *emphasise* text, just surround it with `*asterisks*`, or to **strongly emphasise** it, use `**double asterisks**`. You will notice that to insert formatting codes exactly as they are, you can surround them with \`backticks\`, although the formatter is smart enough to know that a * by itself has no special significance.

### Lists
Lists are simply lines of text preceeded by a * or - character.

* This is an example of a bulleted list.
* It is separated from paragraph text with a blank line at the top and bottom.
* It can contain:
    * Sub-lists
    * With other items in them
    * Just indent the sub-list by 4 spaces

You can also do numbered lists, like this:

1. This is a numbered list
2. The items in the input text don't have to be in numerical order.
7. When formatted, the numbering will be sequential automatically.
3. So you can re-order the list with copy+paste without worrying about putting the right numbers with each item.

### Quotes

To mark a paragraph as a block quote, precede it with a > character, like so:

> Once upon a midnight dreary, while I pondered, weak and weary,
Over many a quaint and curious volume of forgotten lore &mdash;
While I nodded, nearly napping, suddenly there came a tapping,
As of some one gently rapping, rapping at my chamber door.
"'Tis some visiter," I muttered, "tapping at my chamber door &mdash;
Only this and nothing more."</textarea>
</div>

<div id="preview-scroller">
    <div id="preview" class="show-nonprinting">
        <div class="paper">
            <div class="page"></div>
        </div>
    </div>
</div>

<div id="statusbar">Page width: 210mm, margins: 20mm, automatic zoom level:
    <span id="zoom-level">1</span>%</div>

<% if Rails.env.production? %>
    <%= javascript_include_tag "all.js" %>
<% else %>
    <%=  javascript_include_tag :libs %>
<% end %>

<script type="text/javascript">
    // Lazy loading of main application JS.
    var se = document.createElement("script");
    <% if Rails.env.production? %>
    se.src = "/javascripts/application-min.js";
    <% else %>
    se.src = "/javascripts/application.js";
    <% end %>
    document.getElementsByTagName("head")[0].appendChild(se);
</script>
