<div id="toolbar">
	<label for="chk-nonprinting">
		<input id="chk-nonprinting" type="checkbox">
		Show paragraph marks
	</label>

	<label for="rdo-preview-html">
		<input id="rdo-preview-html" type="checkbox">
		HTML view
	</label>

<% if user_signed_in? and current_user.id == @doc.user_id %>
	<label>
		<%= link_to "Edit this document", edit_doc_path(@doc) %>
<% end %>
	</label>
</div>

<div id="app-loading-message" class="loading-message">
	Loading document&hellip;
</div>

<input id="doc-source" type="hidden" value="<%= @doc.content %>">

<div id="preview-scroller" class="view-only">
	<div id="preview">
		<div class="paper dropshadow">
			<div class="page"></div>
		</div>
	</div>
</div>

<% if Rails.env.production? %>
	<%= javascript_include_tag "all.js" %>
<% else %>
	<%=  javascript_include_tag :libs %>
<% end %>

<script type="text/javascript">
	// Lazy loading of main application JS.
var se = document.createElement("script");

<% if Rails.env.production? %>
	se.src = "/javascripts/application-min.js";
<% else %>
	se.src = "/javascripts/application.js";
<% end %>
document.getElementsByTagName("head")[0].appendChild(se);
</script>
