@import "compass/reset";

$linkColor: #2A6;
$linkHoverColor: #4D8;
$borderColor: #CCC;
$paperBg: #F8F8F5;
$pageBg: #F0F0E8;
$buttonColor: #F1F4F1;
$buttonHoverColor: #F8FFF8;
$buttonDisabledColor: #FAFAFA;

$navbarHeight: 25px;
$toolbarHeight: 45px;
$statusbarHeight: 30px;

body {
	background-color: $pageBg;
	color: #333;
	line-height: 1.5;
	font-family: sans-serif;
}

a {
	color: $linkColor;
	text-decoration: none;

	&:hover {
		color: $linkHoverColor;
	}

	img {
		vertical-align: middle;
	}
}

input[type='text'], input[type='password'] {
	border: 1px solid $borderColor;
}

button, input[type='button'], input[type='submit'] {
	border: 1px solid $borderColor;
	background-color: $buttonColor;
	border-radius: 3px;

	cursor: pointer;
	outline: none;
	font-size: 12px;

	padding: 0 1em;
	height: 26px;

	&:hover {
		background-color: $buttonHoverColor;
		color: $linkColor;
	}

	&[disabled] {
		color: $borderColor;
		background-color: $buttonDisabledColor;
		cursor: default;
		&:hover {
			color: $borderColor;
			background-color: $buttonDisabledColor;
		}
	}
}

hr {
	border: none;
	border-bottom: 1px solid $borderColor;
	margin: 0.5em 5em;
}

.dropshadow {
	-moz-box-shadow:4px 4px 7px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:4px 4px 7px rgba(0, 0, 0, 0.3);
	box-shadow:4px 4px 7px rgba(0, 0, 0, 0.3);
}

.github-link {
	display: inline-block;
	height: 22px;
	width: 0;
	padding-left: 49px;
	overflow: hidden;
	vertical-align: middle;

	background: inline-image("github_logo-small.png") right 0 no-repeat;

	&:hover {
		background-position: right -22px;
	}
}

#try-demo {
	text-align: center;
	a {
		font-size: 150%;
	}
}

#main, .paper, #editor {
	border: 1px solid $borderColor;
}

#main, .paper {
	background-color: $paperBg;
}

#main {
	padding: 2em;
	margin: 3em auto;
	max-width: 50em;

	h1, h2, h3 {
		font-weight: bold;
	}

	h1 {
		font-size: 160%;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
	}

	h2 {
		font-size: 130%;
	}

	h3 {
		font-size: 110%;
		font-style: italic;
	}

	p {
		margin-bottom: 1em;

		&.first {
			font-weight: bold;
		}
	}

	em { font-style: italic; }
	strong { font-weight: bold; }

	ul.basic li:before {
		content: "\25EA";
		padding-right: 0.5em;
	}

}

#main.shad {
	text-shadow: 0.2em 0.4em 5px rgba(0, 0, 80%, 0.1);
}

#navbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: $navbarHeight - 1;

	border-bottom: 1px solid $borderColor;

	background-color: $paperBg;
	color: #333;

	font-size: 14px;

	z-index: 101;
	div {
		padding: 0.2em 0.5em;
	}
}

#logo {
	float: left;

	a {
		font-weight: bold;
	}
}

#center-links {
	text-align: center;
}

#user-panel {
	position: absolute;
	top: 0;
	right: 0;
}

.doc-list {
	margin: 1em 0;

	li {
		padding-bottom: 0.5em;
		border-bottom: 1px solid $borderColor;
		margin-bottom: 0.5em;

		&:last-child {
			border: none;
		}

		label {
			display: inline-block;
			width: 20em;
		}

		.delete-link {
			font-size: 60%;
		}
	}
}

.loading-message {
	background: $linkColor inline-image("loading-w-g.gif") no-repeat 10px center;
	z-index: 99;
	color: #FFF;
}

.saving-message {
	background-color: #FFF;
	border: 4px solid $linkColor;
	color: #333;

	-moz-box-shadow:4px 4px 7px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:4px 4px 7px rgba(0, 0, 0, 0.3);
	box-shadow:4px 4px 7px rgba(0, 0, 0, 0.3);
	z-index: 99;
}

#app-loading-message, #doc-saving-message {
	position: absolute;
	top: $toolbarHeight + $navbarHeight + 20;
	left: 50%;
	padding: 10px 10px 10px 65px;
}

#app-loading-message {
	-moz-box-shadow:0px 0px 7px $linkColor;
	-webkit-box-shadow:0px 0px 7px $linkColor;
	box-shadow:0px 0px 7px $linkColor;
}

#doc-saving-message {
	display: none;
}

#toolbar {
	position: absolute;
	top: $navbarHeight;
	right: 0;
	left: 0;
	height: $toolbarHeight - 7;
	padding-top: 10px;

	background: #FFF;
	border-bottom: 2px solid $linkColor;

	font-size: 14px;

	z-index: 2;

	label {
		display: inline-block;
		vertical-align: middle;
		margin-left: 1em;
	}

	input {
		font-size: 100%;
		outline: none;
		border: 1px solid $borderColor;

		&.number {
			width: 4em;
		}
	}

	button {
		margin-left: 1em;
		vertical-align: middle;
	}

	.dropdown-menu-container {
		margin-left: 1em;
		position: relative;
		display: inline-block;
		button {
			margin: 0;
		}
	}

	.dropdown-list-button {
		&:after {
			padding-left: 0.5em;
			content: "\25BE";
		}
	}

	.dropdown-list {
		position: absolute;
		left: 0;
		top: 25px;
		width: 13em;
		display: none;
		border: 1px solid $borderColor;
		background-color: $buttonColor;

		.menu-separator {
			border-bottom: 1px solid $borderColor;
			margin: 0.5em 0;
		}

		label {
			display: block;
			margin: 0;
			padding: 0.6em 1em 0.5em 0.5em;
			cursor: pointer;

			font-size: 12px;

			&:hover {
				color: $linkColor;
				background-color: $buttonHoverColor;
			}
		}
	}

	.info {
		font-style: italic;
		color: #AAA;
	}

	.links {
		position: absolute;
		right: 1em;
		top: 10px;
		display: inline-block;
		text-align: right;
	}

	-moz-box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.1);
	box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.1);
}

#statusbar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	height: $statusbarHeight - 1;

	background: #FFF;
	border-top: 1px solid $borderColor;

	padding-left: 20px;

	//-moz-box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.2);
	//-webkit-box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.2);
	//box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.2);
}

#debug {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	background: #800;
	color: #FFF;
	width: 3em;
	height: 2em;
	z-index: 100;
}

#doc-source {
	// Source text for read-only document ('show' action view).
	display: none;
}

#editor, #preview-scroller {
	//display: block;
	position: absolute;
	bottom: $statusbarHeight;
}

#editor {
	top: $toolbarHeight + $navbarHeight;
	right: 55%;
	left: 20px;

	margin: 20px auto;
	padding: 2.2em 14px 10px 10px;
	background-color: #FFF;

	label {
		display: block;
		position: absolute;
		left: 0;
		top: 0.3em;
		right: 0;
		height: 1.9em;
		padding-left: 0.5em;
		border-bottom: 1px solid $borderColor;
	}

	#editor-title-box {
		position: absolute;
		top: 0.3em;
		left: 9em;
		right: 16px;

		input {
			display: block;
			width: 100%;
			font-size: 100%;
			outline: none;
			border: 1px solid $borderColor;
		}
	}

	#editor-input-box {
		position: absolute;
		top: 2.5em;
		right: 14px;
		bottom: 0.4em;
		left: 0.4em;
		border: 1px solid #FFF;
	}

	textarea {
		display: block;
		outline: none;
		resize: none; // hide resize handle in Webkit browsers
		border: none;
		padding: 0;

		width: 100%;
		height: 100%;

		font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", "Arial", sans-serif;
		font-size: 14px;

		overflow-x: hidden;
		overflow-y: scroll;

		&.monospace {
			font-family: monospace;
		}
	}
}

#editor-sizer {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 8px;
	background-color: $borderColor;

	&:hover, &.sizing {
		background-color: $linkColor;
		cursor: ew-resize;
	}
}

#preview-scroller {
	overflow-y: scroll;
	overflow-x: auto;
	top: $toolbarHeight + $navbarHeight;
	left: 45%;
	right: 0;
	margin-left: 20px;

	&.view-only {
		position: static;
		margin: $toolbarHeight + $navbarHeight auto $statusbarHeight auto;
		width: 230mm;
		overflow: auto;
	}
}

#preview {
	width: 215mm;

	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-o-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;

}

.paper {
	width: 210mm;
	margin: 5mm 5mm 10mm 0;

	.page {
		margin: 20mm;
		border: 1px solid #EEE;

		font-size: 12pt;
		font-family: "Palatino", "Palatino Linotype", "Book Antiqua", serif;
		line-height: 1.4;

		text-rendering: geometricPrecision;

		p, ul, ol, pre { margin-bottom: 0.5em; }

		em { font-style: italic; }
		strong { font-weight: bold; }

		h1, h2, h3, h4, h5, h6 {
			font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", "Arial", sans-serif;
			font-weight: bold;
			margin-top: 1em;
			margin-bottom: 0.5em;
		}

		h1 {
			text-align: center;
			font-size: 150%;
		}

		h2 { font-size: 120%; }

		h3 { font-style: italic; }

		h4 {
			font-weight: normal;
			font-style: italic;
		}

		ul, ol {
			list-style-position: outside;
			margin-left: 2em;
		}

		ul { list-style-type: disc; }

		ol { list-style-type: decimal; }

		blockquote {
			margin: 1em 3em 1em 1em;
			border-left: 1px solid $borderColor;
			padding-left: 1em;
			color: #555;
		}

		pre, code {
			background-color: #EEE;
			border: 1px solid $borderColor;
			padding: 3px;
			font-family: "Consolas", "Inconsolata", "Menlo", monospace;
			font-size: 85%;
		}

		pre {
			padding: 4px 8px 0 8px;
			code {
				padding: 0;
				border: none;
				font-size: 100%;
			}
		}

	} // .page
} // .paper

#preview.raw .page {
	white-space: pre-wrap;
	font-family: monospace;
}

#preview.show-nonprinting {
	p:after, h1:after, h2:after, h3:after, h4:after, h5:after {
		content: "\00B6";
		color: #AAA;
		width: 0;
		overflow: visible;
		display: inline-block;
	}

	br:after {
		content: "¬";
	}

	.empty:after {
		content: "";
	}

	.nonprinting-br:after {
		content: "\21A9";
		display: inline-block;
		width: 0;
		color: #BBB;
		overflow: visible;
	}
} // &.show-nonprinting

.focus, input:focus, button:focus {
	border-color: $linkColor !important;
	-moz-box-shadow: 0px 0 3px $linkColor;
	-webkit-box-shadow: 0px 0 3px $linkColor;
	box-shadow: 0px 0 3px $linkColor;
}

.hidden {
	display: none;
}
