@import "compass/reset";

$linkColor: #2A6;
$toolbarHeight: 50px;
$footerHeight: 30px;

body {
    background-color: #F0F0E8;
    line-height: 1.5;
}

#main, #editor {
    background-color: #F8F8F5;
    max-width: 50em;
    border: 1px solid #CCC;
}

#main {
    padding: 2em;
    margin: 3em auto;
}

#toolbar {
    height: $toolbarHeight - 2;
    background: #FFF;
    border-bottom: 2px solid $linkColor;
}

#footer {
    background: #FFF;
    border-top: 2px solid $linkColor;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $footerHeight - 2;
}

#editor-scroller {
    position: absolute;
    top: $toolbarHeight;
    right: 0;
    bottom: $footerHeight;
    left: 0;

    overflow: auto;
}

#editor {
    margin: 1em auto;
    padding: 30mm;
    -moz-box-shadow:4px 4px 7px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:4px 4px 7px rgba(0, 0, 0, 0.3);
    box-shadow:4px 4px 7px rgba(0, 0, 0, 0.3);

    textarea {
        display: block;

        border: 1px dotted #CCC;

        background: none;
        width: 100%;
        height: 220mm;
        font-size: 100%;

        outline: none;
    }
}

a {
    color: $linkColor;
    text-decoration: none;

    &:hover {
        color: #4D8;
    }
}

h1 {
    font-size: 150%;
    font-weight: bold;
}

p {
    margin-bottom: 1em;

    &.first {
        font-weight: bold;
    }
}

#try-demo {
    text-align: center;
    font-size: 150%;
}
