@import "compass/reset";

$linkColor: #2A6;
$linkHoverColor: #4D8;
$borderColor: #CCC;
$paperBg: #F8F8F5;
$pageBg: #F0F0E8;
$buttonColor: #F1F4F1;
$buttonHoverColor: #F8FFF8;
$buttonDisabledColor: #FAFAFA;

$navbarHeight: 25px;
$toolbarHeight: 45px;
$statusbarHeight: 30px;

$h1shad: 0 1px 0 #FFF;

$headingFont: "PT Sans", "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", "Arial", sans-serif;
$bodyFontFamily: "PT Serif", "Georgia", serif;

@import "base";

#logo {
	width: 0;
	height: 63px;
	padding-left: 174px;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
	background: inline-image("soda_logo.png") right top no-repeat;
	border-bottom: 2px solid $borderColor;
	overflow: hidden;
}

.github-link {
	display: inline-block;
	height: 22px;
	width: 0;
	padding-left: 49px;
	overflow: hidden;
	vertical-align: middle;

	background: inline-image("github_logo-small.png") right 0 no-repeat;

	&:hover {
		background-position: right -22px;
	}
}

#try-demo {
	text-align: center;
	a {
		font-size: 150%;
	}
}

#main, .paper, #editor {
	border: 1px solid $borderColor;
}

#main, .paper {
	background-color: $paperBg;
}

@import "main";

@import "nav";

.doc-list {
	margin: 1em 0;
	border-collapse: collapse;
	width: auto;
	table-layout: fixed;
	width: 100%;

	thead {
		border-bottom: 2px solid $borderColor;
	}

	tr {
		border-bottom: 1px solid $borderColor;

		&:last-child {
			border: none;
		}
	}

	th {
		font-weight: bold;
	}

	th, td {
		padding: 0.5em 0;
	}

	.doc-name {
		//width: 20em;
	}

	.doc-controls {
		width: 10em;
	}

	.delete-link {
		font-size: 60%;
	}

	.doc-date {
		width: 12em;
	}
}

.loading-message {
	background: $linkColor inline-image("loading-w-g.gif") no-repeat 10px center;
	background-color: #FFF;
	border: 4px solid $linkColor;
	color: $linkColor;
	z-index: 99;

	position: absolute;
	top: $toolbarHeight + $navbarHeight + 20;
	left: 50%;
	padding: 10px 10px 10px 32px;

	&.view-only {
		top: 25%;
		left: 50%;
		width: 12em;
		margin-left: -6em;
	}
}

#doc-saving-message {
	display: none;
	border: 1px solid $borderColor;
	background: #FFF;
	padding: 5px;
	font-size: 12px;
	color: $borderColor;
	top: $toolbarHeight + $navbarHeight + 40;
}

@import "toolbar";

#statusbar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	height: $statusbarHeight - 1;

	background: #FFF;
	border-top: 1px solid $borderColor;
	font-size: 75%;
	color: #333;

	div {
		position: absolute;
		top: 0.3em;
	}
}

#general-info {
	left: 1em;
}

#timing-info {
	right: 1em;
	color: #AAA;
}

#doc-source {
	// Source text for read-only document ('show' action view).
	display: none;
}

#editor, #preview-scroller {
	position: absolute;
	bottom: $statusbarHeight;
}

@import "editor";

@import "preview";

.focus, input:focus, button:focus {
	border-color: $linkColor !important;
	-moz-box-shadow: 0px 0 4px 1px $linkColor;
	-webkit-box-shadow: 0px 0 4px 1px $linkColor;
	box-shadow: 0px 0 4px 1px $linkColor;
}

.hidden {
	display: none;
}
