<div id="main" class="dropshadow">
  <h1 id="logo">Soda</h1>

  <p class="first">Soda is a simple online document application that allows
  you to create text documents in styles-based manner.</p>

  <p>Most document editors approach this from a character-level direction:
  you select some text, then apply a font, size etc. to it. While this is
  generally fine for short documents, for longer ones it quickly becomes
  unwieldy as you attempt to maintain consistency throughout.</p>

  <p>Soda is different: rather than mark selections of text with a font, you
  apply <em>styles</em> to text blocks, such as paragraphs or headings, using
  <a href="http://daringfireball.net/projects/markdown/">Markdown</a>. The
  styles are defined for the whole document, creating a consistent look.</p>

  <h2>Screenshots</h2>

  <ul class="screenshot_thumbs">
    <li>
      <span class="thumb_caption">Editor in &lsquo;Preview&rsquo; mode</span>
      <a href="http://caerphoto.com/screenshots/soda_screenshot_editor-preview.png">
        <img src="http://caerphoto.com/screenshots/thumb_soda_screenshot_editor-preview.jpg">
      </a>
    </li><li>
      <span class="thumb_caption">Editor in &lsquo;HTML&rsquo; mode</span>
      <a href="http://caerphoto.com/screenshots/soda_screenshot_editor-html.png">
        <img src="http://caerphoto.com/screenshots/thumb_soda_screenshot_editor-html.jpg">
      </a>
    </li><li>
      <span class="thumb_caption">Viewer in &lsquo;Preview&rsquo; mode</span>
      <a href="http://caerphoto.com/screenshots/soda_screenshot_view.png">
        <img src="http://caerphoto.com/screenshots/thumb_soda_screenshot_view.jpg">
      </a>
    </li><li>
      <span class="thumb_caption">Viewer in &lsquo;HTML&rsquo; mode</span>
      <a href="http://caerphoto.com/screenshots/soda_screenshot_preview-html.png">
        <img src="http://caerphoto.com/screenshots/thumb_soda_screenshot_preview-html.jpg">
      </a>
    </li><li>
      <span class="thumb_caption">Viewer mobile</span>
      <a href="http://caerphoto.com/screenshots/soda_screenshot_view-iphone.png">
        <img src="http://caerphoto.com/screenshots/thumb_soda_screenshot_view-iphone.jpg">
      </a>
    </li><li>
      <span class="thumb_caption">Documents list</span>
      <a href="http://caerphoto.com/screenshots/soda_screenshot_docs.png">
        <img src="http://caerphoto.com/screenshots/thumb_soda_screenshot_docs.jpg">
      </a>
    </li><li>
      <span class="thumb_caption">Documents list mobile</span>
      <a href="http://caerphoto.com/screenshots/soda_screenshot_docs-iphone.png">
        <img src="http://caerphoto.com/screenshots/thumb_soda_screenshot_docs-iphone.jpg">
      </a>
    </li>

  </ul>

  <hr>

  <p class="first">
  To get started, <%= link_to "register", new_user_registration_path %> and
  click the New Document button!</p>

  <hr>

  <h2>Last Update</h2>

  <h3>23rd January 2012</h3>
  <ul class="basic">
    <li>Fixed sort direction arrows on documents list table in Firefox. The issue was caused by Firefox not allowing <code>position: relative</code> on table cells.</li>
    <li>Updated front page with screenshots.</li>
  </ul>

  <p>See the <a
    href="https://github.com/caerphoto/SODA">GitHub</a> page for a complete
  history.</p>

  <hr>

  <p><a href="mailto:soda@caerphoto.com">soda@caerphoto.com</a> |
  Soda on <a href="https://github.com/caerphoto/SODA" class="github-link">GitHub</a></p>

</div>
