<div id="main" class="dropshadow">
	<h1 id="logo">Soda</h1>

	<p class="first">Soda is a simple online document application that allows
	you to create text documents in styles-based manner.</p>

	<p>Most document editors approach this from a character-level direction:
	you select some text, then apply a font, size etc. to it. While this is
	generally fine for short documents, for longer ones it quickly becomes
	unwieldy as you attempt to maintain consistency throughout.</p>

	<p>Soda is different: rather than mark selections of text with a font, you
	apply <em>styles</em> to text blocks, such as paragraphs or headings, using
	<a href="http://daringfireball.net/projects/markdown/">Markdown</a>. The
	styles are defined for the whole document, creating a consistent look.</p>

<!--	<p id="try-demo">
<%= link_to "Create a document", docs_path, :method => "POST" %></p>-->

	<hr>

	<p class="first">
	Note: at present only <%= link_to "registered", new_user_registration_path %> users
	are able to create and save documents. This will not always be the case.</p>

	<p>Once registered, click the 'Your saved documents' link at the top to get
	started.</p>

	<hr>

	<h2>Changelog</h2>
	<p>This is not a complete history (see the <a
		href="https://github.com/caerphoto/SODA">GitHub</a> page for that), just a
	thing
	I decided to add part-way through development.</p>

	<h3>20th May 2011</h3>
	<ul class="basic">
		<li>Editor box is now resizable (preview changes size to match).</li>

		<li>Options that affect the edior and the preview have been split into their
		own menus now.</li>

		<li>Document name box merged into editor box.</li>

		<li>Added options to change what kind of preview shows &ndash; "print",
		HTML or none.</li>

		<li>Added this changelog.</li>
	</ul>

	<hr>

	<p><a href="mailto:soda@caerphoto.com">soda@caerphoto.com</a> |
	Soda on <a href="https://github.com/caerphoto/SODA" class="github-link">GitHub</a></p>

</div>
