
<div id="main">
    <h1>Soda</h1>

    <p class="first">Soda is a simple online document application that allows
    you to create text documents in styles-based manner.</p>

    <p>Most document editors approach this from a character-level direction:
    you select some text, then apply a font, size etc. to it. While this is
    generally fine for short documents, for longer ones it quickly becomes
    unwieldy as you attempt to maintain consistency throughout.</p>

    <p>Soda is different: rather than mark selections of text with a font, you
    apply <em>styles</em> to text blocks, such as paragraphs or headings, which
    you define for the whole document, creating a consistent look.</p>

    <p id="try-demo"><a href="docs#demo">Try the demo</a><br/>
    At present the demo has only preview functionality &ndash; saving has not yet been implemented.</p>
</div>

<script>
  var divMain = document.getElementById("main"), toggleShadow;

  toggleShadow = function (bOn) {
    divMain.className = bOn ? "shad" : "";
  };
</script>

<label for="chkToggleShadow"><input id="chkToggleShadow" type="checkbox" onclick="toggleShadow(this.checked)"> Toggle shadow</label>
